* {
   font-family: 'Fira Sans', sans-serif;
}

.conteiner {
   height: 2864px;
   width: 1440px;
}

h1 {
   text-align: left;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 53px;
   color: #111238;
}

p {

   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: #111238;
}

h2 {
   font-size: 36px;
   font-weight: 900;
   line-height: 43px;
   letter-spacing: 0em;
   text-align: center;
}

h3 {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #111238;
}

h4 {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #111238;
}

h5 {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #111238;
   opacity: 0.8;
}

button:hover {
   border-radius: 5px;
   padding: 15px 30px 15px 30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 15px 30px;
   background: #1A75E8;
   border-radius: 5px;
}